<html>
<head>
    <title>Rick y Morty </title>
</head>
<body>
    <h1>ESTAS PERSONAS ME DEBEN UN FERNET</h1>
    <ul>
        <% respuesta.forEach(nombre => { %>
            <li><%= nombre %></li>
        <% }); %>
    </ul>
</body>
</html>